/* Paleta colores*/
* {
  margin: 0;
  padding: 0;
  /*border: 1px solid $verde;*/
}

body {
  font-family: "Oswald", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.hero {
  height: 600px;
  background-position: left;
  overflow: hidden;
}
.hero .slider .slide .content h3 {
  font-family: "roboto", sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  text-shadow: 0.05em 0.05em #333;
  text-align: right;
  color: #ff6969;
}
.hero .slider .slide .content p {
  font-size: 1.6em;
  color: #141e46;
  text-align: center;
}
.hero .slider .slide .content p .resaltado {
  color: #c70039;
  font-family: "roboto", sans-serif;
  font-size: 1.1em;
  font-weight: bold;
}

.header {
  background-color: white;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.header .img-logo {
  margin-left: 20px;
  width: 15rem;
  cursor: pointer;
}
.header nav ul {
  line-height: 70px;
}
.header nav ul li {
  list-style: none;
  display: inline-block;
}
.header nav ul li a {
  color: #00d4b2;
  font-size: 1.2em;
  margin-right: 30px;
}
.header nav ul li :hover {
  opacity: 0.7;
  color: #141e46;
  border-bottom: 2px solid #00d4b2;
}

/*  sliders*/
.slider {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.slide .content {
  position: absolute;
  bottom: 200px;
  left: -550px;
  opacity: 0;
  width: 1200px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 30px;
}

.slide .content h3 {
  margin-bottom: 10px;
}

.slide.current .content {
  opacity: 1;
  transform: translateX(600px);
  transition: all 0.7s ease-in-out 0.3s;
}

.buttons button#prev {
  position: absolute;
  top: 50%;
  left: 15px;
}

.buttons button#next {
  position: absolute;
  top: 50%;
  right: 15px;
}

.buttons button {
  border: 2px solid #da4444;
  background-color: transparent;
  color: #ea3b3b;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
}

.buttons button:hover {
  background-color: #fff;
  color: #333;
}
/*sacar imagenes de katari php*/
/* background images */
.slide:first-child {
  background: url("../img/slider03.png")
    no-repeat center center/cover;
}

.slide:nth-child(2) {
  background: url("../img/slider03.png") no-repeat center top/cover;
}

.slide:nth-child(3) {
  background: url("../img/slider03.png") no-repeat center top/cover;
}

.slide:nth-child(4) {
  background: url("../img/slider03.png") no-repeat center top/cover;
}

.slide:nth-child(5) {
  background: url("../img/slider03.png") no-repeat
    center top/cover;
}

.separacion {
  border-bottom: 1px solid #474747;
  margin-bottom: 30px;
}

/* add media queries  */
@media (max-width: 450px) {
  .slide .content {
    bottom: -300px;
    left: 0;
    width: 100%;
  }
  .slide.current .content {
    transform: translateY(-300px);
  }
}
.zeta {
  background: url(https://sm.ign.com/t/ign_tr/screenshot/default/interstellar-1280jpg-8dd6a2_73945_kjrz.1280.jpg);
  background-size: cover;
  height: 700px;
}
/*# sourceMappingURL=main.css.map */
/*CHATBOT*/
.chatbot-toggler {
  z-index: 10000;
  position: fixed;
  bottom: 30px;
  right: 35px;
  outline: none;
  border: none;
  height: 60px;
  width: 60px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #fdfdfd;
  transition: all 0.2s ease;
}
body.show-chatbot .chatbot-toggler {
  /* transform: rotate(90deg); */
}
.chatbot-toggler span {
  color: #fff;
  position: absolute;
}
.chatbot-toggler span:last-child,
body.show-chatbot .chatbot-toggler span:first-child {
  opacity: 0;
}
body.show-chatbot .chatbot-toggler span:last-child {
  opacity: 1;
}
.chatbot {
  position: fixed;
  z-index: 10000;
  right: 35px;
  bottom: 90px;
  width: 420px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.5);
  transform-origin: bottom right;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease;
}
body.show-chatbot .chatbot {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}
.chatbot header {
  padding: 16px 0;
  position: relative;
  text-align: center;
  color: #fff;
  background: #e84956;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.chatbot header span {
  position: absolute;
  right: 15px;
  top: 50%;
  display: none;
  cursor: pointer;
  transform: translateY(-50%);
}
header h2 {
  font-size: 1.4rem;
}
.chatbot .chatbox {
  overflow-y: auto;
  height: 510px;
  padding: 30px 20px 100px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
  width: 6px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 25px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}
.chatbox .chat {
  display: flex;
  list-style: none;
}
.chatbox .outgoing {
  margin: 20px 0;
  justify-content: flex-end;
}
.chatbox .incoming span {
  width: 32px;
  height: 32px;
  color: #fff;
  cursor: default;
  text-align: center;
  line-height: 32px;
  align-self: flex-end;
  background: #e94c4f;
  border-radius: 4px;
  margin: 0 10px 7px 0;
}
.chatbox .chat p {
  white-space: pre-wrap;
  padding: 12px 16px;
  border-radius: 10px 10px 0 10px;
  max-width: 75%;
  color: #fff;
  font-size: 0.95rem;
  background: #f1565d;
}
.chatbox .incoming p {
  border-radius: 10px 10px 10px 0;
}
.chatbox .chat p.error {
  color: #721c24;
  background: #f8d7da;
}
.chatbox .incoming p {
  color: #000;
  background: #f2f2f2;
}
.chatbot .chat-input {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 3px 20px;
  border-top: 1px solid #ddd;
}
.chat-input textarea {
  height: 55px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  max-height: 180px;
  padding: 15px 15px 15px 0;
  font-size: 0.95rem;
}
.chat-input span {
  align-self: flex-end;
  color: #eb6070;
  cursor: pointer;
  height: 55px;
  display: flex;
  align-items: center;
  visibility: hidden;
  font-size: 1.35rem;
}
.chat-input textarea:valid ~ span {
  visibility: visible;
}

@media (max-width: 490px) {
  .chatbot-toggler {
    right: 20px;
    bottom: 20px;
  }
  .chatbot {
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 100%;
  }
  .chatbot .chatbox {
    height: 90%;
    padding: 25px 15px 100px;
  }
  .chatbot .chat-input {
    padding: 5px 15px;
  }
  .chatbot header span {
    display: block;
  }
}

/*---------header iconos-------------*/
.icons{
  font-size: 1rem;
}
.icon{
  width: 2rem;
}
.search{
  width: 60%;
  position: relative;
}
.search input{
  border-radius: 25px;
  border: 2px solid red;
}

.search .icon {
  position: absolute;
  top: 1rem;
  right: 0.1rem;
  width: 45px;
  height: 40px;
  background: #f22b2b;
  border-radius: 0px 20px 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}
.search .icon::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 3px solid rgb(253, 253, 254);
  border-radius: 50%;
  transform: translate(-4px, -4px);
}
.search .icon::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 12px;
  background: rgb(255, 255, 255);
  transform: translate(6px, 6px) rotate(315deg);
}
/*---------header iconos--END-----------*/

/*-----------------INFO 1-*----------------------------*/
.info-1 i{
  font-size: 2rem;
}
/*-----------------INFO 1 END-----------------------------------*/



/* -------------FOOTER----------------------------*/

.copyright-bar {
  width: 100vw;
  display: flex;
  position: relative;
  margin-left: calc(-49vw + 50% - 8px);
  line-height: 3em;
  background-color: #eaeaea;
  padding: .1em 0;
}
.foot p{
  font-size: 0.8rem;
}
.foot i{
  font-size: 2rem;
}
.contactos{
  width: 100%;
  display: flex;
  position: relative;
  background-color: red;
}
.contactos input{
  border: red;
  width: 60%;
  margin-top: 10px;
  background-color: white;
}
.contactos button{
  position: absolute;
  top: 10px;
  right: 20vh;
  background-color: white;
  color: black;
}
.acepto{
  display: flex;
  position: relative;
  color: white;
  font: bold;
}
.acepto input{
  position: absolute;
  left: 10px;
  top: -5px;
}
.suscribe{
  display: flex;
  color: white;
}
.suscribe i{
  margin-top: 2rem;
  margin-left: 1rem;
  font-size: 2rem;
}
.suscribe h5{
  margin-top: 2rem;
  margin-left: 1rem;
}
/*------------------FOOTER END--------------------------------*/